<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Login Panel</title>
</head>
<body>
	<form action="/adminAuth" method="post">
	<h3>Admin Login</h3>
		<input type="email" name="userId" placeholder="enter uid" required="required"> <br><br>
		<input type="password" name="pass" placeholder="enter password" required="required"><br><br>
		<input type="submit" value="Login"> 
		<a href="/help" style="margin-left: 2%" >Help</a><br><br>
		<a href="/reqAdminAcc" >Open New Account</a>
		
	</form>
</body>
</html>