<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/resetUid" method="post">
	<h3>Forget UserId</h3>
		<input type="text" name="name" placeholder="Enter name"  required="required"/><br><br>
		<input type="tel" name="mobile" placeholder="enter mob" required="required"><br><br>
		<input type="submit" value="Find" />
	</form>
	<br><br>
	<form action="/resetPass" method="post">
	<h3>Forget Pass</h3>
		<input type="email" name="userId" placeholder="Enter UId"  required="required"/><br><br>
		<input type="tel" name="mobile" placeholder="enter mob" required="required"><br><br>
		<input type="submit" value="Find" />
	</form>
	<br><br>
	<a href="/adminLogin">Admin Login</a>
</body>
</html>