<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/custDeposit" method="post">
	<h3>Deposit Money</h3>
		<input type="hidden" name="accno" th:value="${accno}" required="required" >
		<input type="number" name="balance" placeholder="Enter amount..." required="required" >
		<input type="submit">
	</form>
	<form action="/custWithdraw" method="post">
	<h3>withdraw Money</h3>
		<input type="hidden" name="accno" th:value="${accno}" placeholder="Enter accno..." required="required">
		<input type="number" name="balance" placeholder="Enter amount..." required="required">
		<input type="submit">
	</form>
	<form action="/custCheckBalance" method="post">
	<h3>Check Balance</h3>
		<input type="hidden" name="accno" th:value="${accno}" placeholder="Enter accno..." required="required">
		<input type="submit">
	</form>
	<a href="/customer" style="margin-left: 5%" >Back</a>
</body>
</html>