<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Controller Login Panel</title>
</head>
<body>
	<form action="/ownAuth" method="post">
	<h3>Controller Login</h3>
		<input type="email" name="userId" placeholder="Enter Your email" required="required"><br><br>
		<input type="password" name="pass" placeholder="enter password" required="required"><br><br>
		<input type="submit" value="submit">
<!-- 		<a href="/regOwn" style="margin-left: 2%" >Register</a><br><br> -->
		<a href="/ownerHelp" style="margin-left: 2%" >Help</a><br><br>
		
	</form>
</body>
</html>