<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Verification</h1>
	<form action="/ownVerificationViaQues" method="post" >
		Question 1: <br><br>
		<select name="ques1" id="ques1" required>
			<option>Select</option>
			<option value="Name Of Your Favourite Pet">Name Of Your Favourite Pet</option>
			<option value="Name Of Your Best Friend">Name Of Your Best Friend</option>
			<option value="Name Of Your First Crush">Name Of Your First Crush</option>
			<option value="Your Favourite Color">Your Favourite Color</option>
		  </select><br><br>
		  Answer1: <br><br>
		  <input type="text" name="ans1" id="ans1" placeholder="Enter Answer of Question1" required><br><br>
		  Question 2: <br><br>
		<select name="ques2" id="ques2" required>
			<option>Select</option>
			<option value="Name Of Your Favourite Pet">Name Of Your Favourite Pet</option>
			<option value="Name Of Your Best Friend">Name Of Your Best Friend</option>
			<option value="Name Of Your First Crush">Name Of Your First Crush</option>
			<option value="Your Favourite Color">Your Favourite Color</option>
		  </select><br><br>
		  Answer2: <br><br>
		  <input type="text" name="ans2" id="ans2" placeholder="Enter Answer of Question2" required>
		  <br><br>
		<input type="submit">
	</form>
</body>
</html>